tp2/punto3/serie.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="serie">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personajes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="personaje" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="genero">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="M"/>
                                                    <xs:enumeration value="F"/>
                                                    <xs:enumeration value="O"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="descripción" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                    <xs:attribute name="tipo" default="principal">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="principal"/>
                                                <xs:enumeration value="secundario"/>
                                                <xs:enumeration value="reparto"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="trama" type="xs:string"/>
                <xs:element name="hashtag" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="nombre"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="cod" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Z]{1}[0-9]{2}"></xs:pattern>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="titulo" type="xs:string" use="required"/>
            <xs:attribute name="genero" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="acción"/>
                        <xs:enumeration value="drama"/>
                        <xs:enumeration value="ciencia ficción"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>

        <!-- primarykeys-->
         <xs:key name="personajeKey">
            <xs:selector xpath="personajes/personaje"/>
            <xs:field xpath="@id"/>
         </xs:key>
    </xs:element>
</xs:schema>