tp2/punto1/gestionalumnos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gestionAlumnos">
        <xs:complexType>
            <xs:sequence>

                <!-- Alumnos-->
                <xs:element name="alumnos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="alumno" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{5}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="apellidoNombre">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="dni">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{8}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="30"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="telefono">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="15"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="carreraInscripto">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{4}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    
                    <!-- dni de estudiante único-->
                    <xs:unique name="dniUnico">
                        <xs:selector xpath="alumno"/>
                        <xs:field xpath="dni"/>
                    </xs:unique>
                </xs:element>

                <!-- Carreras-->
                <xs:element name="carreras">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="carrera" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[0-9]{4}"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nombreCarrera">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                    
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- reglas de referencia e id únicos-->
         <!-- id de estudiante único y primary key-->
         <xs:key name="alumnoKey">
            <xs:selector xpath="alumnos/alumno"/>
            <xs:field xpath="id"/>
         </xs:key>

         <!-- id de carrera único y primary key-->
          <xs:key name="carreraKey">
            <xs:selector xpath="carreras/carrera"/>
            <xs:field xpath="id"/>
          </xs:key>

          <!-- foreing key de carrera en alumno-->
           <xs:keyref name="alumnoCarrraRef" refer="carreraKey">
            <xs:selector xpath="alumnos/alumno"/>
            <xs:field xpath="carreraInscripto"/>
           </xs:keyref>

    </xs:element>
</xs:schema>